:root {
  --White: hsl(0, 0%, 100%);
  --Brown: hsl(14, 45%, 36%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Rose800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}
@font-face {
  font-family: outfit;
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: young-serif;
  src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
  font-family: outfit;
  font-weight: 400;
  font-size: 1rem;
}
body {
  background-color: var(--Stone-150);
}

main {
  width: 100%;
  max-height: 1440px;
  min-height: 100vh;
  padding: 50px;
}

.card-container {
  width: 100%;
  height: 100%;
}

.card-container-content {
  width: 50%;
  padding: 35px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 7px grey;
  margin: 0 auto;
}

img {
  
  object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
h1 {
  text-align: left;
  font-family: young-serif;
  font-size: 2.812rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.25rem;
  font-family: young-serif;
  color: hsl(14, 45%, 36%);
}

.card-container-content > p {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 1rem;
}
.default-card {
  padding: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}
/* --- prep-time --- */
.prep-time > p {
  margin-bottom: 10px;
  color: var(--Rose800);
  font-weight: 600;
}

.prep-time {
  border-radius: 10px;
  background-color: hsl(330, 100%, 98%);
  border-bottom: none;
}

li {
  margin-left: 20px;
  line-height: 2;
}

li > span {
  font-weight: bold;
  font-family: outfit;
}
/* --- Ingredients --- */

.ingredient li {
  line-height: 1.5;
  font-family: outfit;
  padding-left: 15px;
}

/* --- instruction --- */

.instruction li {
  line-height: 1.5;
  padding-left: 15px;
}

ol li::marker {
  color: var(--Brown);
  font-weight: bold;
}

/* --- nutrition -- */

.nutrition {
  border-bottom: none;
}

.nutrition > div {
  display: flex;
  gap: 100px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}
.nutrition div:nth-child(2) {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  color: var(--Brown);
  font-weight: 400;
}
.nutrition div:first-child {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.attribution {
  font-size: 0.687rem;
  text-align: center;
  padding-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- responsive -- */

@media screen and (max-width: 375px) {
  .card-container-content {
    width: 100%;
    padding: 35px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 7px grey;
    margin: 0px auto;
  }
}
